<div class="container">
  <div class="row">
    <div class="main-visual">
      <%= image_tag 'cake.jpg', size: '1150x300', style: 'background-image'%>
    </div>
    <div class='mx-auto'>
        <div class="home_text">
          ようこそ、ながのCAKEへ！</br>
          このサイトは、ケーキ販売のECサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。
        </div>
    </div>
  </div>
</div>


<div calss="container">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-auto">
      <h2>新着商品</h2>
      <div class="row mt-2">
        <% @products.each do |product| %>
      <div class="new_item"> 
        <%= link_to customers_product_path(product.id) do %>
        <%= attachment_image_tag(product, :image, size: "120x100", format: 'jpg', fallback: "sweets_colorful_cupcake_blue.png")%><br>
        <%= product.name %><br>
        <% end %>
        ¥<%= product.price.to_s(:delimited) %>
      </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="offset-sm-8">
    <p>
      <%= link_to "全ての商品を見る＞", customers_products_path, class: 'btn btn-secondary'%>
    </p>
  </div>
</div>
