<div class="container">
  <div class="row">
    <div class="main-visual">
      <%= image_tag 'cake.jpg', size: '1150x300', style: 'background-image'%>
    </div>
    <div class='mx-auto'>
        <div class="home_text">
          ようこそ、ながのCAKEへ！</br>
          このサイトは、ケーキ販売のECサイトになります。</br>
          会員でない方も商品の閲覧はできますが、</br>
          購入には会員登録が必要になります。
        </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="card-list col-sm-9">
      <h2 class="mb-5">新着商品</h2>
      <div class="card-deck">
        <% @products.each do |product| %>
          <div class="card shadow-lg rounded-circle bg-warning topcardmg">
            <%= link_to attachment_image_tag(product, :image, size: "120x100", format: 'jpg', fallback: "sweets_colorful_cupcake_blue.png"), customers_products_path(product.id) %>
            <p class="card-title text-center"><%= link_to product.name, customers_products_path(product.id) %></p>
            <p class="card-text text-center"><%= product.price.to_s(:delimited) %>円</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<div class="row">
  <div class="offset-sm-8">
    <p>
      <%= link_to "全ての商品を見る＞", customers_products_path, class: 'btn btn-secondary'%>
    </p>
  </div>
</div>
