<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<div class="container">
<div class="row">
  <div class="col-xs-12">
  <p>画像</p>
  <%= attachment_image_tag @product, :image, :fill, 100, 100, format: 'jpeg' %>
  <td>商品名：<%= @product.name %></p></td>
  <td>商品説明：<%= @product.introduction %></p></td>
  <td>価格：<%= @product.price %></p></td>
  <td>ジャンル<%= @product.genre.name %></td>
  <td>
　　<% if @product.is_active == true %>
  <td class="genre-td"><i class="fas fa-bullseye red"></i>販売中</td>
　　 <% elsif @product.is_active == false %>
  <td class="genre-td"><i class="fas fa-bullseye blue"></i>販売停止中</td>
 　　<% end %>
 </td>

  <td><%= link_to "編集する", edit_admins_product_path(@product), class: "btn btn-info" %></td>
 

<%= link_to "管理者用商品一覧", admins_products_path %>

    </div>
  </div>
</div>